<header class="bg-sky-400 p-2">
  <div class="flex w-4/5 max-w-7xl mx-auto">
    <a href="/">Home</a>
    <nav class="ml-auto">
      <ul class="flex gap-2">
        <li><a href="/login">Login</a></li>
        <li><a href="/login">Register</a></li>
      </ul>
    </nav>
  </div>
</header>