<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Homepage' }) %>
<body>
  <%- include('../partials/header') %>
  <main>
    <h1><%= error.statusCode %></h1>
    <p><%= error.message %></p>
    <a href="/">Back to home</a>
  </main>
</body>
</html>