<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Folder' }) %>
<body>
  <%- include('../partials/header') %>
  <p>Id: <%= folder.id %></p>
  <p>Name: <%= folder.name %></p>
</body>
</html>